button {
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    background: #FFF;
    border: 0;
    padding: 1rem;
    box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.3);
    outline: 0;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.4);
}

button svg {
    fill: #444;
}

button:hover svg {
    fill: rgba(21, 146, 230, 1);
}

button:active {
    box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.5);
}

button svg.loading {
    display: none;
}

span {
    display: block;
    text-align: left;
    position: relative;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    background: #FFF;
    border: 0;
    padding: 1rem;
    box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.3);
    outline: 0;
}

span.variant-loading {
    padding-left: 2.75rem;
}

span.variant-loading svg.loading {
    fill: rgba(21, 146, 230, 1);
}

button.variant-loading svg.loading {
    display: none;
}

button.variant-error {
    background: #FF6961;
    color: #FFF;
}

button.variant-error svg.close {
    fill: #C23B23;
}

button.variant-error:hover svg.close {
    fill: #FFF;
}

button.variant-error::after {
    background: rgba(0, 0, 0, 0.5);
}

button.variant-warning {
    background: #FDF7C2;
}

button.variant-warning svg.close {
    fill: #cec78d;
}

button.variant-warning:hover svg.close {
    fill: #444;
}

button.variant-warning::after {
    background: rgba(0, 0, 0, 0.5);
}

button.variant-loading svg.loading {
    display: initial;
}

button.variant-loading svg.close {
    display: none;
}

.seconds-1::after,
.seconds-2::after,
.seconds-3::after,
.seconds-4::after,
.seconds-5::after {
    content: ' ';
    position: absolute;
    background: rgba(21, 146, 230, 0.5);
    height: 0.25rem;
    width: 2rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

button.seconds-1::after {
    animation: progress 1s linear;
}

button.seconds-2::after {
    animation: progress 2s linear;
}

button.seconds-3::after {
    animation: progress 3s linear;
}

button.seconds-4::after {
    animation: progress 4s linear;
}

button.seconds-5::after {
    animation: progress 5s linear;
}

svg.close {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 0.5rem;
    top: 0.75rem;
}

svg.loading {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 0.75rem;
    top: 0.75rem;
    animation: spin 2s infinite linear;
}

@keyframes progress {
    from { width: 0; }
    to   { width: 20rem; }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}