:host {
  position: relative;
  display: flex;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

input {
  width: calc(100% - 0.75rem - 4px);
  border: 1px solid #ddd;
  padding: 0.25rem 0.5em;
  border-radius: 0.25rem;
  outline: 0;
  background: transparent;
  font-size: 1rem;
}

input.focus + span {
  pointer-events: none;
  z-index: 1;
  content: ' ';
  position: absolute;
  border: 1px solid #fff;
  border-radius: 0.35rem;
  top: -0.125rem;
  right: -0.125rem;
  bottom: -0.125rem;
  left: -0.125rem;
  box-shadow: 0 0 0.25rem #007bff;
}

.values {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 9px;
  height: calc(2rem - 1px);
  pointer-events: none;
  white-space: pre;
  overflow: hidden;
  width: calc(100% - 1rem);
}

.values > div {
  display: flex;
  flex-direction: row;
  position: relative;
}

.values.focus .property,
.values.focus .property-invalid {
  color: transparent;
}

.first {
  color: red;
}

.property {
  display: flex;
  align-content: center;
  padding-top: 5px;
  color: transparent;
}

.property-invalid {
  display: flex;
  align-content: center;
  padding-top: 5px;
  color: red;
  border-bottom: 2px dotted red;
}

.separator {
  position: relative;
  color: transparent;
}

.separator::after {
  content: ' ';
  background: #DDD;
  width: 2px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 1px;
}

.separator::before {
  content: ' ';
  background: #DDD;
  width: 2px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 1px;
}

.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(2rem + 1px);
  left: 3px;
  background: #FFF;
  z-index: 1;
  border: 1px solid #999;
  border-radius: 0.25rem;
  overflow-y: auto;
  max-height: 11rem;
}

.list button {
  border: 0;
  padding: 0.25rem;
  background: #FFF;
  text-align: left;
  font-size: 1rem;
  outline: 0;
}
.list button:hover {
  background: #eee;
}
.list button.select {
  background: #2680EB;
  color: #fff;
}

.description {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(2rem + 1px);
  left: 3px;
  background: #FFF;
  z-index: 1;
  border: 1px solid #999;
  border-radius: 0.25rem;
  padding: 0.25rem;
}