:host {
  display: flex;
  font-size: 1rem;
}

:host a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  padding: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}
:host a:hover {
  border-color: #ddd;
}
:host a:active {
  border-color: #fff;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3) inset;
  background: #f1f1f1;
}

:host(.tab-item) button {
  border: 1px solid transparent;
  margin-bottom: -1px;
  background: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #222;
  outline: 0;
}

:host(.tab-item.selected) button {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
  background: #fff;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #222;
  outline: 0;
}
