:host {
  display: flex;
  flex-direction: column;
  border: 1px solid #DDD;
  border-radius: 0.5rem;
}
:host(.no-header) {
  padding-top: 1rem;
}
:host(.no-footer) {
  padding-bottom: 1rem;
}
:host(.shadow-1) {
  box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 0.2);
}
:host(.shadow-2) {
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.3);
}
:host(.shadow-3) {
  box-shadow: 0 1px 0.75rem rgba(0, 0, 0, 0.4);
}