:host(.nav) {
  display: flex;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  line-height: 2rem;
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}

:host(.tab) {
  display: flex;
  background-color: #fff;
  line-height: 2rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  padding: 0.25rem 0.25rem 0 0.25rem;
  background: #f1f1f1;
  border-radius: 0.5rem 0.5rem 0 0;
}
