:host {
  display: flex;
  padding: 0.5rem 0 0.5rem 1.5rem;
  line-height: 1.5rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0 0.5rem 0 1.5rem;
  position: relative;
}

:host::before {
  content: ' ';
  position: absolute;
  left: -1rem;
  bottom: 0;
  top: 0;
  width: 0.125rem;
  background: #ddd;
}

:host(.first) {
  background: blue;
  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid #ddd;
}

:host(:not(.first):not(.last)) {
  background: yellow;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

:host(.last) {
  background: red;
  border-radius: 0 0 0.25rem 0.25rem;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
